<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="propertyConfigurer" 
	 class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:server.properties</value>
				<value>classpath:tree.properties</value>
				<value>classpath:serverConf.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="structDBConn"
	 class="cn.edu.zju.ccnt.TFGW.DBConnect.StructDBConnection">
	</bean>
	
	<bean id="singleDBConn"
	 class="cn.edu.zju.ccnt.TFGW.DBConnect.SingleDBConn">
	</bean>
	
	<bean id="jibDBConn" 
	 class="cn.edu.zju.ccnt.TFGW.DBConnect.JibDBConn">
	</bean>
	
	<bean id="searchConf" 
	 class="cn.edu.zju.ccnt.TFGW.LoadConf" singleton="true">
	 <property name="expertDiseaseCount" value="${expertDiseaseCount}"/>
	 <property name="expertCount" value="${expertCount}"/>
	 <property name="diseaseExpertCount" value="${diseaseExpertCount}"/>
	</bean>
</beans>